# Resend API Key - https://resend.com/api-keys
RESEND_API_KEY=re_xxxxxxxxxxxxx

# Email donde recibiras los mensajes de contacto
CONTACT_EMAIL=(correoAdmin)@gmail.com

DATABASE_URL=<db>

AUTH_SECRET=castennio_secret_key_change_in_production_2026